button {
  margin-left: 1em;
}

ol {
  list-style-type: none;
}
span {
  padding: 0.5em;
  border-radius: 2% / 50%;
}

li {
  padding: 0.5em;
}

.reserved-page {
    background-color: #D59133;
    color: #002e1b;
}
